<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLOWERS.AE - The Art of Gifting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header>
    <h1>Plantes Ornementales <br> Made in DRC</h1>
    <p>THE ART OF GIFTING <br>AND DECORATION</p>
    <nav>
      <a href="/">Accueil</a>
    </nav>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Recherche">
  </div>

  <div class="products">
    {% for product in products %}
    <div class="product">
      <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
      <h2>{{ product.name }}</h2>
      <p></p>
      <p class="price">{{ product.price_label }}</p>
      <a href="{{ url_for('paiement', produit_id=product.id) }}"><button>Commander</button></a>
    </div>
    {% endfor %}
  </div>

</body>
</html>
