<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FLOWERS.AE - The Art of Gifting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <header>
    <h1>Plantes Ornementales <br> Made in DRC</h1>
    <p>THE ART OF GIFTING <br>AND DECORATION</p>
    <nav>
      <a href="/">Accueil</a>
    </nav>
  </header>

  <div class="search-bar">
    <input type="text" placeholder="Recherche">
  </div>

  <div class="products">
    <div class="product">
      <img src="{{ url_for('static', filename='uploads/Roserouge.jpg') }}">
      <h2>Rose Rouge</h2>
      <p></p>
      <p class="price">à partir de 20$</p>
      <a href="/paiement?produit=Rose+Rouge&prix=20"><button>Commander</button></a>
    </div>

    <div class="product">
      <img src="{{ url_for('static', filename='uploads/Tulipebleu.jpg') }}">
      <h2>tulipe bleu</h2>
      <p></p>
      <p class="price">à partir de 35$</p>
      <a href="/paiement?produit=Tulipe+bleu&prix=35"><button>Commander</button></a>
    </div>
  </div>
  
</body>
</html>
